name: CodSpeed Benchmarks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions: # optional for public repositories
  contents: read # required for actions/checkout
  id-token: write # required for OIDC authentication with CodSpeed

jobs:
  benchmarks:
    runs-on: codspeed-macro
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - uses: dtolnay/rust-toolchain@stable
      - name: Install custom codspeed-go-runner
        run: cargo install --git https://github.com/CodSpeedHQ/codspeed-go
          
      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: walltime
          run: |
            make benchmark
